<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= config[:app_name] %></title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <%%= yield %>
  </body>
  <script src="/js/app.js" charset="utf-8"></script>
</html>
