!!!
%html{dir: "ltr", lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %title= <%= config[:app_name] %>
    %link{href: "/css/app.css", rel: "stylesheet"}/
  %body
    = yield
  %script{charset: "utf-8", src: "/js/app.js"}
