module <%= config[:app_name] %>
  class App < Sinatra::Base

    get "/" do
      @name = "world"
      <%= config[:view_language] %> :index
    end

    get "/:name" do
      @name = params["name"]
      <%= config[:view_language] %> :index
    end

  end
end
